.hero-container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-color: #111;
  color: #fff;
}

.hero-container>h1 {
  color: #fff;
  font-size: 3vw;
}

.hero-container>p {
  margin-top: 8px;
  line-height: 2vw;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 1vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutme {
  line-height: 3vw;
  font-size: 2vw;
}

p {
  line-height: 1.5vw;
}

.aboutme-image {
  height: 12vw;
  width: 12vw;
  border-radius: 100vw;
  margin-right: 15px;
  border: 10px solid #000000;
}

.Text {
  margin-top: 1vw;
  font-size: 1vw;
  text-align: left;
}

.social-icon-link-about {
  color: #fff;
  font-size: 24px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.hero-desc-img-and-text-container {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
}

.hero-desc-img-and-text {
  width: 60vw;
}

hr {
  border: 10px solid black;
  border-radius: 5px;
}

.hero-desc-text {}

@media screen and (max-width: 960px) {
  .aboutme-image {
    height: 18vw;
    width: 18vw;
  }
  .aboutme {
    font-size: 4vw;
  }
  .hero-container>h1 {
    font-size: 6vw;
  }
  .Text {
    font-size: 2vw;
    line-height: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .Text {
    font-size: 3vw;
    line-height: 3vw;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
}