/* just normal css stuff is pretty much magic to me, i add stuff, if it works great if not add and remove stuff, css is = {witch magic} all css, rise !!!! praise css lords. xd*/
.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  margin: auto;
}
.quiz-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  margin: auto;
  background-color:#18be34;
}
.quiz-info h1{
  font-size: 25px;
}
.quiz-info p{
  font-size: 20px;
}
.form-heading {
  margin-bottom: 24px;
  font-size: 24px;
}
.form{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-input {
  padding: 8px 24px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 18px;
  border: 1px solid #fff;
  align-self: center;
  text-align: center;
}

.question-section {
  width: 75%;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-text {
  margin-bottom: 12px;
  font-size: 20px;
}

.answer-section {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}


