.testimonials{
  display: block;
  height: auto;
  line-height: 100px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.testimonials-text {
  display: block;
  height: auto;
  line-height: 50px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}

.decide{
  text-align: center;
  align-self: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  line-height: 40px;
}
hr{
  border: 10px solid #000000;
  overflow: hidden;
}
.temon{
  display: table;
  height: 250px;
  width: 250px;
  margin: 20px; 
  position: relative; 
  margin-left: auto;
  margin-right: auto;
}
.temoninput {
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  padding: 8px 20px;
  border-radius: 9px;
  font-size: 18px;
  border: 1px solid #000000;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
}
.mybtn{
  display: table-cell;
  vertical-align: middle;
  background-color: #fdfdfd;
  border: 3px solid #0d2574;
  border-radius: 3px;
  padding: 8px 20px;
  margin-top: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1rem;
}
.mybtn:hover{
  background-color: rgb(103, 170, 73);
}
@media screen and (max-width: 820px) {
  .temoninput {
    width: 100%;
  }
}
.temoninput::placeholder {
    color: #000000;
}