.answer-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.github-repos {
  display: flex;
  height: 90vh;
  vertical-align: top;
  align-items: flex-start;
  font-size: 3rem;
  background-image: url("https://pngimg.com/uploads/github/github_PNG15.png");
  background-size: auto;
}
.cards__wrapper {
  display: flex;
  position: relative;
  margin: 50px 0 45px;
}
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
