/* just normal css stuff is pretty much magic to me, i add stuff, if it works great if not add and remove stuff, css is = {witch magic} all css, rise !!!! praise css lords. xd*/
:root {
  --main: #fff;
}

.btan {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btan--man {
  background-color: var(--main);
  color: #242424;
  border: 1px solid var(--main);
}

.btan--s {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--main);
  transition: all 0.3s ease-out;
}
.btan--square {
  border-radius: 20px;
  display: block;
  text-align: center;
  width: 350px;
  height: 350px;
  text-align: center;
  line-height: 50px;
  margin: 0 10px 10px 0;
  padding: 10px 21px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  background-color: #242424;
  float: left;
}
.btan--mediu {
  padding: 8px 20px;
  font-size: 18px;
}

.btan--larg {
  padding: 12px 26px;
  font-size: 20px;
}

.btan button:hover {
  background-color: #ccdbd1;
}
.btan--larg:hover,
.btan--mediu:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
