* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .cybortics-humanoid,
  .github-repos,
  .about-me,
  .ai,
  .automated-drones {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .cybortics-humanoid {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    font-size: 100px;
  }
  
  .github-repos {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #000;
    font-size: 100px;
  }
  
  .automated-drones {
    /* background-image: url('./imageVideo/logo.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }